.dont-just-take{

    /*position*/
    position: relative;
    z-index: 99999;



    .box-container{
        /*box-model*/
        padding-top: 10px ;
        margin: 0 auto;
    
        /*layout*/
        flex-wrap: wrap;

    
        .box{
            /*box-model*/
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;


            /*layout*/
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    
    }
    
    .heading{
        text-align: center;
        h2{
            /*font*/
            font-size:38px;
            font-weight: bolder;
            color: $black;

            /*box-model*/
            width: 60%;
            margin: 0 auto;
        }
    }


    .item{  

        /*box-model*/
        width: 25%;
        margin-left: 10px;

        /*font*/
        text-align: center;

        h3{
            /*font*/
            font-size: 46px;
            color: $orange;
        }
        span{

            /*font*/
            font-size: 20px;
            color: $black;
            font-weight: bold;
        }
    }


    

    
}




// media queries
@media (max-width:991px){


}


@media (max-width:765px){

    .dont-just-take{

        .box{flex-wrap: wrap;}
        .item{
            width: 40%;
            margin-bottom: 30px;
        }
    }


    
}



@media (max-width:450px){
    .dont-just-take{
        .heading{
            h2{
                width: 100%;
                font-size:30px ;
            }
        }

        .item{
            width: 50%;
        }
    }
    
}
