footer{
    background: $black;
    z-index: 999999;


    .box-container{
        /*box-model*/
        padding: 20px 5px;
        margin: 0 auto;
        width: 80%;

        /*font**/
        color: $white;
        .box{

            /*box-model*/
            margin-top: 10px;
            width: 33%;

            h3,p{
                /*font*/
                font-size: 16px;
                font-weight: bold;
                
                /*box-model*/
                margin-bottom: 20px;
            }

            p{width: 70%;}
            h2{
                /*font*/
                font-size: 48px;
                font-family: nueva-std, serif;
                font-weight: 700;
            }
            a{
                /*layout*/
                display: block;

                /*font*/
                color: $white;
                font-size: 14px;
                font-weight: bold;

                &:hover{
                    /*box-model*/
                    padding-left: 5px;
                    color: $orange;
                }
            }
        }

    }


    form{
        /*background*/
        background: $white;

        /*box-model*/
        margin-top: 30px;
        border-radius: 30px;
        padding: 2px;

        /*layout*/
        display: flex;

        .email{
            /*box-model*/
            width: 100%;
            padding: 3px  20px;

            /*background*/
            background: none;

            /*font*/
            text-transform: none;
            font-size:16px;
            font-weight: bold;
            color: $black;
            
        }

        .btn{

            /*box-model*/
            margin-top: 0;
            padding: 5px 30px;
            border-radius: 30px;
            background: $orange;
            
            /*font*/
            font-size: 16px;
            color: $white;

            &:hover{
                background: none;
                color:$orange;
            }
        }

    }
}



// media queries
@media (max-width:991px){
    footer{
        .box-container{
            flex-wrap: wrap;
            .box{width: 40% ;}
        }
    }

}


@media (max-width:765px){

    footer{
        .box-container{
            .box{width: 80% ;}
        }
    
    }
    
}



@media (max-width:450px){

    footer{
        .box-container{
            .box{
                margin: 30px auto;
                width: 100% ;
            }
        }
    }
    
}
