.home{

    /*background*/
    background: url(../images/SansTitre-1.png) no-repeat;
    background-position:center center;
    background-size: cover ;

    .content{

        /*box-model*/
        padding-left: 100px;
        padding-right: 10px;
        
        & > *{color: $white;}
        span{font-size: 24px;}
        h1{
            /*font*/
            font-size: 50px;
            
            /*box-model*/
            margin-bottom: 2px;
        }

        p{
            /*font*/
            font-size: 18px;

            /*box-model*/
            margin-bottom: 10px;}
    }


    img{width: 100%;}

    .btn{
        /*background*/
        background: $white;

        /*font*/
        color: $orange;
    }


    .brands-container{
        /*box-model*/
        width: 100%;
        margin: 0 auto;
        margin-top:40px;
        padding: 20px  5px 0;

        /*layout*/
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
}

// media queries
@media (max-width:991px){
    .home{
    
        .content{

            span{font-size: 20px;}
            h1{font-size: 40px;}
            p{font-size: 15px;}
        }
    }

    .brands-container{
        /*box-model*/
        width: 80%;
        margin: 0 auto;

        /*layout*/
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

}


@media (max-width:765px){

}

    

@media (max-width:450px){
    .home{
    
        .content{

            span{font-size: 18px;}
            h1{font-size: 30px;}
            p{font-size: 15px;}
        }

    }

}
