.home{
    /*box-model*/
    height: 100vh;

    /*background*/
    background: url(../images/SansTitre-1.png) no-repeat;
    background-position:center center;
    background-size: cover ;


    .home-container{
        /*box-model*/
        width: 90%;
        margin-left: 10%;
        padding-top: 100px ;

        /*layout*/
        display: flex;
        align-items: center;
        justify-content: center;

        .box{
            /*box-model*/
            width: 50%;
            margin-top: 50px;
            margin-right: 10px;
        }
        

    }

    .content{

        /*box-model*/
        padding-left: 100px;
        padding-right: 10px;
        
        & > *{color: $white;}
        span{font-size: 24px;}
        h1{
            /*font*/
            font-size: 50px;
            
            /*box-model*/
            margin-bottom: 2px;
        }

        p{
            /*font*/
            font-size: 18px;

            /*box-model*/
            margin-bottom: 10px;}
    }


    img{width: 100%;}

    .btn{
        /*background*/
        background: $white;

        /*font*/
        color: $orange;
    }


    .brands{
        /*box-model*/
        width: 100%;
        margin: 0 auto;
        margin-top:50px;
        padding: 20px  5px;

        /*layout*/
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
}

// media queries
@media (max-width:991px){
    .home{
    
        .content{
    
            /*box-model*/
            padding-left: 50px;
            padding-right: 10px;


            span{font-size: 20px;}
            h1{font-size: 40px;}
            p{font-size: 15px;}
        }
    }

    .brands{
        /*box-model*/
        width: 80%;
        margin: 0 auto;

        /*layout*/
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

}


@media (max-width:765px){

    .home{
    
    
        .home-container{
            /*box-model*/
            width: 90%;
            margin: 0 auto;

            /*layout*/
            flex-wrap: wrap;
    
            .box{width: 100%;}
            
    
        }
    
        .content{
            /*box-model*/
            width: 60%;
            padding-left: 30px;
        }
    
    }
}

    

@media (max-width:450px){
    .home{
    
        .content{
            /*box-model*/
            width: 75%;
            padding-left: 10px;


            span{font-size: 18px;}
            h1{font-size: 30px;}
            p{font-size: 15px;}
        }

        .btn{
            /*box-model*/
            padding: 4px 15px;

            /*font*/
            font-size: 14px;
        }
    }

}
