@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');
@import url("https://use.typekit.net/awe2eui.css");
*{
    font-family: 'Poppins', sans-serif;
    border: none; outline: none;
    padding: 0; margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

$black:#3B3A3A;
$bg-black:#8F8F8F;
$orange:#FF6057;
$violet:#7C1C80;
$box-shadow: 0rem 0rem 1rem rgba(0,0,0,.3);
$white:#fff;

$linear-bg:linear-gradient(60deg ,$orange,$violet);
$linear-bg-light:linear-gradient(to left,#7d1c80d0,#ff5f57e0);


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    
    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-track{
        background: $white;
    }
    
    &::-webkit-scrollbar-thumb{
        background: $linear-bg;
    }

}

body{overflow: hidden;}




.bg-F1291E{
    background-color: #F1291E;
}

.bg-36C5AD{
    background-color: #36C5AD;
}

.bg-CB4BF8{
    background-color: #CB4BF8;
}

.bg-56E65B{
    background-color: #56E65B;
}

.btn{


    /*background*/
    background: $linear-bg;
    
    /*font*/
    color: $white;
    font-weight: bold;
    font-size: 16px;

    /*box-model*/
    border-radius: 6px;
    padding:3px 30px ;

    &:hover{box-shadow: $box-shadow;}

    cursor: pointer;
    
}

.box-container{
    /*box-model*/
    width: 90%;
    margin-left: 10%;
    padding-top: 100px ;

    /*layout*/
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        /*box-model*/
        width: 50%;
        margin-top: 50px;
        margin-right: 10px;
    }
    

}

.content{

    /*box-model*/
    padding-left: 100px;
    padding-right: 10px;
    
}

.polygon{
    position: relative;
    z-index: -1;


    &::after{
        content: "";

        /*position*/
        position: absolute;
        top: 0;left: 0;

        /*background*/
        background: linear-gradient(to bottom left ,$orange,#808080);

        /*box-model*/
        width: 700px;
        height: 600px;
        border-radius:50px;


        /*transform*/
        transform:translateX(-60%) rotate(-53deg)  ;
        

    }
}


