



    

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .best-platform{
    
        .content{
            transform: translate(0,15%);
            z-index: 99999;
        }
    }


    .platform-overview{
        .heading{
            width: 100%;
        }
    
        
    }

}