
// media queries
@media (max-width:991px){

    
    .content{

        /*box-model*/
        padding-left: 50px;
        padding-right: 10px;


    }


}


@media (max-width:765px){


    .box-container{
        /*box-model*/
        width: 90%;
        margin: 0 auto;

        /*layout*/
        flex-wrap: wrap;

        .box{width: 100%;}
        

    }

    .content{
        /*box-model*/
        width: 60%;
        padding-left: 30px;
    }
}



@media (max-width:450px){

    .content{
        /*box-model*/
        width: 75%;
        padding-left: 10px;
    }

    .btn{
        /*box-model*/
        padding: 4px 15px;

        /*font*/
        font-size: 14px;
    }

}
