.brands{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0  2rem;
    width: 80%;
    &.brand{
        flex: 1 1 10rem;
        
    }
}