// media queries
@media (max-width:991px){

    html{
        font-size: 55%;
    }

}


@media (max-width:765px){
    .header{
        background: $linear-bg;

        .menu-btn{
            display: block;
            color: $white;
            font-size: 2.5rem;
            cursor: pointer;
        }
        .navbar{
            position: absolute;
            top:99%; right: 0;left: 0;
            text-align: center;
            background: $linear-bg-light;
            clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            }
            a{
                margin: 2rem;
                font-size: 2rem;
                display: block;
                color: $white;
                    
                &:hover,
                &.active{
                    transform: scale(1.1);
                }
            }

        }
    }

    .home{
        .content{
            padding-left: 0;
        }
    }
}

    

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .best-platform{
    
        .content{
            transform: translate(0,15%);
            z-index: 99999;
        }
    }


    .platform-overview{
        .heading{
            width: 100%;
        }
    
        
    }

}