@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');
@import url("https://use.typekit.net/awe2eui.css");

*{
    font-family: 'Poppins', sans-serif;
    border: none; outline: none;
    padding: 0; margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
@import "main-variables.scss";

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 1.5rem;
    
}

.bg-F1291E{
    background-color: #F1291E;
}

.bg-36C5AD{
    background-color: #36C5AD;
}

.bg-CB4BF8{
    background-color: #CB4BF8;
}

.bg-56E65B{
    background-color: #56E65B;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    
    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: $white;
    }
    
    &::-webkit-scrollbar-thumb{
        background: $linear-bg;
    }

}

body{
    overflow: hidden;
}

.btn{
    background: $linear-bg;
    color: $white;
    font-size: 1.3rem ;
    font-weight: bold;
    border-radius: .6rem;
    padding:.5rem 3rem ;
    cursor: pointer;
    // width: 13rem;
    box-shadow: $box-shadow;

}


.content{

    width: 60%;


    h3{
        color: $black;
        font-size: 2.375rem;
        font-weight: bolder;
        z-index: 99999;
    }
    p{
        color: $bg-black;
        font-size: .875rem;
        margin: 2rem 0;
        line-height: 2;
        z-index: 99999;
    }

    a{
        color: $orange;
        font-weight: 1rem ;
        font-weight: bold;
        z-index: 99999;
    
    }

}
.background{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;left: 0;
        background: linear-gradient(#FF6057,#808080);
        opacity: .4;
        width: 60rem;
        height: 60rem;
        transform:translateX(-70%) rotate(45deg) ;
        border-radius: 6rem;

    }
}

.background-2{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;right: 0;
        background: linear-gradient(#FF6057,#808080);
        opacity: .4;
        width: 60rem;
        height: 60rem;
        transform:translateX(100%) rotate(225deg) ;
        border-radius: 6rem;

    }
}



/* main components */
@import "header.scss";
@import "home.scss";
@import "brands.scss";
@import "best-business-solution.scss";
@import "best-platform.scss";
@import "platform-overview.scss";
@import "footer.scss";
@import "media_queries.scss";