@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    border: none; outline: none;
    padding: 0; margin: 0;
    text-decoration: none;
    text-transform: capitalize;

}


$black:#3B3A3A;
$orange:#FF6057;
$bg-black:#8F8F8F;
$box-shadow: 0rem 0rem 1rem rgba(0,0,0,.3);


@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 1.5rem;
    
}

.bg-F1291E{
    background-color: #F1291E;
}

.bg-36C5AD{
    background-color: #36C5AD;
}

.bg-CB4BF8{
    background-color: #CB4BF8;
}

.bg-56E65B{
    background-color: #56E65B;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.content{



    position: relative;
    width: 60%;
    &::before{
        content: "";
        position: absolute;
        top: -1rem; left: 0;
        height: .2rem;
        width: 5rem;
        background: $orange;
        z-index: 99999;
    }

    h3{
        color: $black;
        font-size: 2.375rem;
        font-weight: bolder;
        z-index: 99999;
    }
    p{
        color: $bg-black;
        font-weight: .875rem;
        margin: 2rem 0;
        line-height: 2;
        z-index: 99999;
    }

    a{
        color: $orange;
        font-weight: 1rem ;
        font-weight: bold;
        z-index: 99999;
    
    }

}
.background{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;left: 0;
        background: linear-gradient(#FF6057,#808080);
        opacity: .4;
        width: 60rem;
        height: 60rem;
        transform:translateX(-70%) rotate(45deg) ;
        border-radius: 6rem;

    }
}

.background-2{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;right: 0;
        background: linear-gradient(#FF6057,#808080);
        opacity: .4;
        width: 60rem;
        height: 60rem;
        transform:translateX(100%) rotate(225deg) ;
        border-radius: 6rem;

    }
}


.best-business-solution{
    width: 80%;
    margin: 3rem auto;
    @include grid(30rem);

    
    .icons-container{
        @include grid(20rem);
        line-height: 2;
        .icon{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            box-shadow: $box-shadow;
    
            img{
                width: 40%;
            }
        }

        h3{
            color: $black;
            font-size: 1rem;
            font-weight: bolder;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: -.5rem; left: 0;
                height: .2rem;
                width: 5rem;
                background: $orange;
            }
        }
        p{
            margin-top: 2rem;
            width: 70%;
            color: $bg-black;
            font-weight:1rem;
        }
    }

}

.best-platform{
    margin-top: 5rem;
    padding: 3rem 2rem;
    width: 80%;
    margin: 3rem auto;
    @include grid(40rem);

    .image{
        img{
            width: 100%;
            object-fit: cover;
        }
        margin: 0 ;

        z-index: 99999;
       
    }

    .content{
        transform: translate(0,20%);
        z-index: 99999;
    }
}

// .bacground{
//     background: linear-gradient(#FF6057,#808080);
//     opacity: .8;
//     width: 50rem;
//     height: 50rem;
//     transform: rotate(45deg) translateX(-90%);
//     border-radius: 6rem;
//     z-index: 1;
//     // position: fixed;
//     // top: 0;
//     // left: 0;
// }



// media queries

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}


@media (max-width:765px){
}

    

@media (max-width:450px){
    html{
        font-size: 50%;
    }


}