@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap");
@import url("https://use.typekit.net/awe2eui.css");
* {
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.bg-F1291E {
  background-color: #F1291E;
}

.bg-36C5AD {
  background-color: #36C5AD;
}

.bg-CB4BF8 {
  background-color: #CB4BF8;
}

.bg-56E65B {
  background-color: #56E65B;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #FF6057, #7C1C80);
}

body {
  overflow-x: hidden;
}

.btn {
  /*background*/
  background: linear-gradient(60deg, #FF6057, #7C1C80);
  /*font*/
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  /*box-model*/
  border-radius: 6px;
  padding: 3px 30px;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
}

.background {
  position: relative;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6057), to(#808080));
  background: linear-gradient(#FF6057, #808080);
  opacity: .4;
  width: 60rem;
  height: 60rem;
  -webkit-transform: translateX(-70%) rotate(45deg);
          transform: translateX(-70%) rotate(45deg);
  border-radius: 6rem;
}

.background-2 {
  position: relative;
}

.background-2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6057), to(#808080));
  background: linear-gradient(#FF6057, #808080);
  opacity: .4;
  width: 60rem;
  height: 60rem;
  -webkit-transform: translateX(100%) rotate(225deg);
          transform: translateX(100%) rotate(225deg);
  border-radius: 6rem;
}

/* main components */
.header {
  /*background*/
  background: none;
  /*position*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  /*layout*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*box-model*/
  padding: 5px 0;
  width: 100vw;
}

.header.active {
  background: linear-gradient(60deg, #FF6057, #7C1C80);
}

.header .menu-btn {
  display: none;
}

.header .logo {
  /*font*/
  font-weight: bolder;
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
}

.header .logo span {
  /*position*/
  position: relative;
}

.header .logo span::after {
  content: "_";
  /*position*/
  position: absolute;
  top: 3px;
  right: 0;
  left: 29%;
  /*font*/
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
}

.header .navbar {
  -webkit-transform: translateX(-33px);
          transform: translateX(-33px);
}

.header .navbar a {
  /*box-model*/
  margin-left: 5px;
  /*font*/
  font-size: 14px;
  color: #fff;
  /*layout*/
  display: inline-block;
}

.header .btn:hover {
  /*background*/
  background: #fff;
  /*font*/
  color: #FF6057;
}

@media (max-width: 765px) {
  .header {
    /*background*/
    background: linear-gradient(60deg, #FF6057, #7C1C80);
  }
  .header .menu-btn {
    /*layout*/
    display: block;
    cursor: pointer;
    /*font*/
    color: #fff;
    font-size: 30px;
  }
  .header .navbar {
    /*position*/
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    /*font*/
    text-align: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*background*/
    background: -webkit-gradient(linear, right top, left top, from(#7d1c80d0), to(#ff5f57e0));
    background: linear-gradient(to left, #7d1c80d0, #ff5f57e0);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
  .header .navbar a {
    /*box-model*/
    margin: 5px;
    /*font*/
    font-size: 20px;
    color: #fff;
    /*layout*/
    display: block;
  }
  .header .navbar a:hover, .header .navbar a.active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  .header .logo {
    /*font*/
    font-size: 40px;
  }
  .header .logo span::after {
    /*position*/
    top: -2px;
  }
  .header .menu-btn {
    /*font*/
    font-size: 25px;
  }
  .header .btn {
    /*box-model*/
    padding: 4px 20px;
    /*font*/
    font-size: 14px;
  }
}

.home {
  /*box-model*/
  height: 100vh;
  /*background*/
  background: url(../images/SansTitre-1.png) no-repeat;
  background-position: center center;
  background-size: cover;
}

.home .home-container {
  /*box-model*/
  width: 90%;
  margin-left: 10%;
  padding-top: 100px;
  /*layout*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-container .box {
  /*box-model*/
  width: 50%;
  margin-top: 50px;
  margin-right: 10px;
}

.home .content {
  /*box-model*/
  padding-left: 100px;
  padding-right: 10px;
}

.home .content > * {
  color: #fff;
}

.home .content span {
  font-size: 24px;
}

.home .content h1 {
  /*font*/
  font-size: 50px;
  /*box-model*/
  margin-bottom: 2px;
}

.home .content p {
  /*font*/
  font-size: 18px;
  /*box-model*/
  margin-bottom: 10px;
}

.home img {
  width: 100%;
}

.home .btn {
  /*background*/
  background: #fff;
  /*font*/
  color: #FF6057;
}

.home .brands {
  /*box-model*/
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px  5px;
  /*layout*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .home .content {
    /*box-model*/
    padding-left: 50px;
    padding-right: 10px;
  }
  .home .content span {
    font-size: 20px;
  }
  .home .content h1 {
    font-size: 40px;
  }
  .home .content p {
    font-size: 15px;
  }
  .brands {
    /*box-model*/
    width: 80%;
    margin: 0 auto;
    /*layout*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 765px) {
  .home .home-container {
    /*box-model*/
    width: 90%;
    margin: 0 auto;
    /*layout*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .home-container .box {
    width: 100%;
  }
  .home .content {
    /*box-model*/
    width: 60%;
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  .home .content {
    /*box-model*/
    width: 75%;
    padding-left: 10px;
  }
  .home .content span {
    font-size: 18px;
  }
  .home .content h1 {
    font-size: 30px;
  }
  .home .content p {
    font-size: 15px;
  }
  .home .btn {
    /*box-model*/
    padding: 4px 15px;
    /*font*/
    font-size: 14px;
  }
}

.best-business-solution {
  width: 80%;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.best-business-solution .content {
  position: relative;
}

.best-business-solution .content::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  height: .2rem;
  width: 5rem;
  background: #FF6057;
  z-index: 99999;
}

.best-business-solution .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  line-height: 2;
}

.best-business-solution .icons-container .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
}

.best-business-solution .icons-container .icon img {
  width: 40%;
}

.best-business-solution .icons-container h3 {
  color: #3B3A3A;
  font-size: 1rem;
  font-weight: bolder;
  position: relative;
}

.best-business-solution .icons-container h3::after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: .2rem;
  width: 5rem;
  background: #FF6057;
}

.best-business-solution .icons-container p {
  margin-top: 2rem;
  width: 70%;
  color: #8F8F8F;
  font-weight: 1rem;
}

.best-platform {
  margin-top: 5rem;
  padding: 3rem 2rem;
  width: 80%;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}

.best-platform .image {
  margin: 0;
  z-index: 99999;
}

.best-platform .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-platform .content {
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
  z-index: 99999;
  position: relative;
}

.best-platform .content::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  height: .2rem;
  width: 5rem;
  background: #FF6057;
  z-index: 99999;
}

.platform-overview {
  width: 70%;
  margin: 5rem auto;
}

.platform-overview .heading {
  text-align: center;
  margin: 1rem auto;
  width: 60%;
}

.platform-overview .heading span {
  font-size: 1.75rem;
  color: #8F8F8F;
  font-weight: bolder;
}

.platform-overview .heading h3 {
  font-weight: bolder;
  font-size: 3.75rem;
  color: #3B3A3A;
}

.platform-overview .heading p {
  font-size: .875rem;
  color: #8F8F8F;
  line-height: 2;
}

.platform-overview .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platform-overview .image img {
  display: block;
  width: 100%;
}

.platform-overview .image span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  background: #8F8F8F;
  cursor: pointer;
}

.platform-overview .image span:hover, .platform-overview .image span.active {
  background: #FF6057;
}

footer {
  margin-bottom: -1rem;
  background: #3B3A3A;
  z-index: 999999;
}

footer .box-container {
  color: #fff;
  width: 80%;
  margin: 1rem auto;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

footer .box-container .box {
  padding: 1rem 5rem;
  line-height: 2;
}

footer .box-container .box h3, footer .box-container .box p {
  font-size: 1.5rem;
}

footer .box-container .box h2 {
  font-size: 3.5rem;
  font-family: nueva-std, serif;
  font-weight: 700;
  font-style: italic;
}

footer .box-container .box a {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

footer .box-container .box a:hover {
  padding-left: .5rem;
  color: #FF6057;
}

footer form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #3B3A3A;
  padding: 0 .3rem;
}

footer form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #FF6057;
  padding: 1rem;
  color: #fff;
}

footer form .btn:hover {
  background: none;
  color: #FF6057;
}
/*# sourceMappingURL=style.css.map */